<div class="users form">
<?php //echo $this->Flash->render('auth'); ?>
<?php echo $this->Form->create('User',array('class'=>'form-horizontal')); ?>
    <fieldset>
        <legend>
            <?php echo __('Verification Code'); ?>
        </legend>
        <div class="form-group">
        <label for="verification_code" class="col-md-3 control-label">Verification Code</label>
        <div class="col-md-7">
            <?php echo $this->Form->input('verification_code',array('type'=>'text','div'=>false,'label'=>false,'class'=>'form-control','')); ?>
         </div>   
        </div> 
        
<!--        <div class="form-group">
        <label for="confirmpassword" class="col-md-3 control-label">Confirm Password</label>
        <div class="col-md-7">
            <?php // echo $this->Form->input('confirm_password',array('type'=>'password','div'=>false,'label'=>false,'class'=>'form-control','required')); ?>
         </div>   
        </div> -->
        
    </fieldset>
    
      <div class="form-group">
          
    <div class="col-md-10">
<!--        <button class="btn btn-blue-custom pull-right"><i class="fa fa-lock"></i> Reset Password</button>-->
        
        <?php 
        //echo $this->Form->input("<i class='fa fa-edit'></i> Login",array('type'=>'submit','div'=>false,'label'=>false,'class'=>'btn btn-blue-custom btn-default pull-right'),array('escape'=>false));
        echo $this->Form->end(); ?>
    </div>
    </div>
</div>