header {
    background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #F2802A , #44B752); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F2802A, #44B752); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F2802A, #44B752); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F2802A , #44B752); /* Standard syntax */
    position:relative !important;
    padding-top: 0px !important;
    margin-bottom:10px;
    border-bottom:2px solid #fff;
}
.int-collapse-menu {
    border:1px solid transparent !important;
    outline:none !important;
}
.int-collapse-menu:hover {
    border:1px dashed #F7C221 !important;
}
.navbar-nav li.active {
     border:1px dashed #F7C221 !important;
}
@media (min-width:768px) {
.navbar-collapse {
margin-top: 20px !important;
}
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    background: rgba(255,255,255,1);
    height: 144px;
    position: absolute;
    top: -20px !important;
    padding: 10;
    border: 2px solid #FFF;
    border-top:0px;
    box-shadow: 1px 1px 4px #000;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
button.navbar-toggle:hover {
    background: transparent !important;
}
@media (min-width:768px) and (max-width:991px) {
    .navbar > .container-fluid .navbar-brand {
        height: 110px;
    }
    .actions > a.btn-orange {
    width:auto !important;
    font-size:12px !important;
}
    .navbar > .container-fluid .navbar-brand img {
        width: 82px;
        height: auto !important;
    } 
    .nav > li > a {
        padding: 10px 5px;
        margin-left:5px;
    }
}
.schedule-heading {
    letter-spacing: 1px;
    word-spacing: 2px;
    text-shadow: 1px 1px 2px #000;
    //line-height:40px;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    padding: 0px !important;
}
h4.schedule-heading {
    margin-top:0px !important;
    font-size:26px !important;
}
.schedule-head .overlay {
    padding-top:120px;
    padding-bottom:120px;
}
@media only screen and (max-width: 800px) {
    .container {
    overflow-x:hidden;
}

    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
      
}
#no-more-tables tr > th > a{
    color:#48B651 !important;
}
@media (min-width:801px) {
      #no-more-tables table tr > td{
    background-color: #f9f9f9;
    padding: 10px !important;
}
#no-more-tables table  tr > th{
    padding: 10px !important;
}
}
.success, .error{
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    //position: absolute;
    //width:100%;
    //left:0px;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;

}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}
.nav-tabs {
    padding-bottom:15px !important;
}
.welcome-wrapper {
    top:-1px;
    padding-top: 6px;
    border: 2px outset #ccc;
    border-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    margin-left: 5px;
}
@media (min-width:768px) and (max-width:1199px) {
    .navbar-collapse.collapse {
        padding-top:20px !important;
    }
    .nav > li > a {
        padding: 10px 5px;
        margin-left:5px;
    }
}

@media (max-width:767px) { 
        .navbar-toggle {
        margin-top:22px !important;
    }
}
.table-centered {
    margin:auto;
}
.contactlink , .contactlink:hover {
    color: #3C3B3B;
    text-decoration:none;
}
.footer-wrapper {
    padding:0px 0px;
    background:#47B651;
}
.footer-wrapper .navbar-brand {
    color:#fff !important;
}
.footer-wrapper a , .footer-wrapper a:hover {
    color:#fff;
}
.socialFooter {
    float:right;
}
@media (max-width:768px) {
    .navbar-brand , .socialFooter{
        float:none !important;
    }
    .footer-wrapper {
        padding-top:10px;
    }
    
}
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#F8F8F8;
    max-width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:95%;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
//#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}


::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
#myTabContent {
    display: block;
    min-height: 400px !important;
}


