#cat_model .modal-header{
    background-color: #18202e;
    color: #fff;

}

#cat_model .close{    
    color: #fff;
}
#cat_model .modal-body{    
    background-color: #F4F5FB;
}
#cat_model .modal-dialog{    
    top: 30%;
}

.btn-custom{
    background-color: #18202e;
    color: #fff;

}
.btn-custom:hover{
    color: #fff;

}

.form-group.required .control-label::after {

    content: "*";
    color: red;
    padding: 2px;

}
.form-horizontal .control-label{
    text-align: left !important;  
}

.btn.btn-file > input[type="file"] {

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
    background: white;
    cursor: inherit;
    display: block;

}

.section-up-image, .slider-up-image {

    width: 220px;
    //height: 37px;
    margin-left: 2px;
    padding: 5px;

}
.error {

    color: #ff0000;
    background-color: #FFBABA;

}

.success {

    color: #4F8A10;
    background-color: #DFF2BF;

}
.success, .error {

    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    //position: absolute;
    //width: 100%;
    //left: 0px;

}
#userlogin, #registercustomer {

    background: rgb(248, 248, 248) none repeat scroll 0% 0%;
    padding: 20px;
    box-shadow: 2px 3px 5px #666;
    margin-bottom: 20px;

}


.main-sidebar {
    position: absolute !important;
    top: 144px !important;
    padding-top: 0px;
    background-color: #18202E;
    color: #fff;
}
.main-sidebar a{
    color: #fff;
}
.users.form {
    max-width: 100% !important;
    margin-top: 0px !important;
}
.form{
    width: 100% !important;
}

#sote_name a{
    color: #FE440E;  
    border-radius: 5px;
}
#sote_name h1{
    margin: 0;
}
.main-sidebar a:hover, .main-sidebar a:focus{
    color: #fff !important;
}


@media screen and (max-width: 767px){
    .sidebar-toggle{
        position: absolute;
        right: -30px;
        background-color: #18202E;
        padding: 5px 10px;
        top: 8px !important;
    }
    .header-logo{
        top: 0px !important;
        left: 50px !important;
    }
    .cmm-rw-top-menu-toggle{
        top: 0px !important;
    }



}

.prod-li-compare, .prod-li-quick-view, prod-li-add{
    float: left !important;
    min-width: 25% !important;
    color: #ff3100 !important;
}
.cart-actions .cart-collaterals{
    width: 100%;
}
.wc-proceed-to-checkout a.checkout-button {

    background-color: transparent;
    background: #ff3100;
    transition: all 0.2s;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    border: none;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    white-space: normal;
    text-align: center;
    float: right;

}
.cart-actions .cart-subtotal, .cart-actions div.shipping {

    float: left;
    width: 20%;
    padding: 3px 0 0 0;
    position: relative;

}
.order-total p { 
    margin-top: 10px;
}
.wc-proceed-to-checkout{
    padding: 0 !important;
}
.wc-proceed-to-checkout a.checkout-button {

    background-color: transparent;
    background: #ff3100;
    transition: all 0.2s;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    border: none;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    width: 50%;
    white-space: normal;
    text-align: center;
    float: right;

}
.cart-subtotal .btn-curious-blue, .shipping .btn-curious-blue {

    background-color: transparent;
    background: #ff3100;
    transition: all 0.2s;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    white-space: normal;
    text-align: center;

}

    width: 65%;
.chosen-container-single .chosen-single {
    color: #000;
    background-color: #fff;
}


.chosen-container-single .chosen-single:hover, .chosen-container-single .chosen-single:focus {
    color: #000;
}
.chosen-container .chosen-results{
    color: #000;
}

.custom-cart span {

    background: #ff3100;
    display: block;
    text-align: center;
    position: absolute;
    top: 10px;
    right: -10px;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;

}

#menu-top-menu a:hover{
    text-decoration: none;
}

