<style>
    .select-btn {

        margin: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 80px 20px;
        text-align: center;
        font-size: 28px !important;
        display: block !important;

    }
    .btn-success, .btn-warning {
        background-color: #BE935F;
        border-color: #BE935F;
    }
    .btn-primary {
        background-color: #4674e7;
    }
    .btn-success:hover, .btn-warning:hover {
        background-color: rgb(32, 35, 57)
    }
    .panel-head-info p{
        font-size: 36px !important;
    }
</style>
<div class="panel-head-info">
    <p class="text-center info-text">Welcome to FGeM Administration Area</p>
    <div class="clearfix"></div>
</div>
