<?php
/**
 * @var \App\View\AppView $this
 */
$array = explode('/', $_SERVER['REQUEST_URI']);
$tabId = end($array);
?>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    div.avatar{
        height: 200px;
        width: 200px;
        background-position: center;
        background-size: cover;
        border-radius:50%;
    }
    .formHeading{
        padding: 10px 10px;
        border-bottom: 1px solid #ccc;
    }
</style>

<hr>
<div class="container bootstrap snippet">
    <?= $this->Form->create($registeration, array('type' => 'file', 'id' => 'UserAddForm')) ?>
    <?php //debug($registeration['user']['email']);exit;?>
    <div class="row">
        <div class="col-sm-10"><h1><?php
    echo $registeration['user']['first_name'];
    echo ' ';
    echo $registeration['user']['last_name'];
            ?></h1></div>

    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <?php
                if (empty($registeration->image)) {
                    $path = 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png';
                } else {
                    $path = $this->request->webroot . 'img/slider/thumbnail/' . $registeration->image;
                }
                ?>
                <div class="avatar" style="background-image: url(<?php echo $path; ?>);">
                    <!--<img src="<?php echo $path; ?>" id="show_section_uploaded_image" class="avatar img-circle img-thumbnail" alt="avatar">-->
                </div> 
                <h6 class="text-primary">Change ta photo de profil</h6>
                <input type="file"  name='image' class="text-center center-block file-upload"  id="sectionImage" onchange="readURL(this)">
            </div>
            <hr /> 
            <div class="col-xs-12">
                <label for="pwd"><h4>Mot de passe</h4></label>
                <?php
                echo $this->Form->control('pwd', [
                    'type' => 'password', 'value' => '', 'autocomplete' => 'off', 'class' => 'form-control', 'style' => 'height:30px;', 'label' => false, 'div' => false]);
                ?>
            </div>


            <div class="col-xs-12">
                <label for="repass"><h4>Confirmez le mot de passe</h4></label>
                <?php
                echo $this->Form->control('repassword', [
                    'class' => 'form-control', 'autocomplete' => 'off', 'type' => 'password', 'style' => 'height:40px;', 'label' => false, 'id' => 'repass', 'required' => 'required', 'disabled']);
                ?> 
            </div>
            <div class="clearfix">&nbsp;</div>
            <?php
            //debug($registeration['publicprofile']);
            //if($registeration['status'] == 1){
            ?>
            <hr />
            <div class="col-xs-12">
                <label for="is_public">
                    <input type="radio" name="publicprofile" id="is_public" checked value="public" class="col-sm-1" <?php
                if ($registeration['publicprofile'] == 1 || $registeration['publicprofile'] == '') {
                    echo 'checked';
                }
                           ?> >
                    <small class="text-success col-sm-11">Publier mon Profil dans l'Annuaire des médiateurs de la FGeM</small>
                </label>
                <label for="is_private">
                    <input type="radio" name="publicprofile" <?php
                if ($registeration['publicprofile'] == '0') {
                    echo 'checked';
                }
                           ?> value="private" id="is_private" class="col-sm-1">
                    <small class="text-danger col-sm-11"> Ne pas publier mon profile dans l'Annuaire des médiateurs de la FGeM</small>
                </label>
            </div>
            <?php //} ?>



            <!--          <div class="panel panel-default">
<div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
<div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
</div>


<ul class="list-group">
<li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
<li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
<li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
<li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
<li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
</ul> 

<div class="panel panel-default">
<div class="panel-heading">Social Media</div>
<div class="panel-body">
<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
</div>
</div>-->

        </div><!--/col-3-->
        <div class="col-sm-9">
          <ul class="nav nav-tabs">
<li class="<?php if($tabId==0){echo 'active';}?>" ><a  href="<?php echo $this->request->webroot;?>Registerations/customerprofile/0">Profil Membre</a></li>
<li class="<?php if($tabId==1){echo 'active';}?>"><a  href="<?php echo $this->request->webroot;?>Registerations/customerprofile/1">Information 2</a></li>
<!--<li><a data-toggle="tab" href="#settings">Menu 2</a></li>-->
</ul>


            <div class="tab-content">
                <div class="tab-pane <?php if($tabId==0){echo 'active';}?>" id="home">
                    <!--                <hr>-->

                    <!--                  <form class="form" action="##" method="post" id="registrationForm">-->
                    <div class="form-group">

                        <!--                          <div class="col-md-6">
<label for="membertype_id"><h4>Type d'adhÃ©sion</h4></label>
<?php // echo $this->Form->control('membertype_id', ['class'=>'form-control','options' => $membertypes ,'style'=>'height:40px;','label'=>false,'div'=>false,'required' => 'required']); ?>
</div>
</div>-->
                        <h4 class="formHeading" style="font-weight:bold">Informations personnelles</h4>
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="firstname"><h4>Prénom <small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->control('first_name', [
                                    'class' => 'form-control', 'value' => $registeration['user']['first_name'], 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?></div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="lastname"><h4>Nom de famille <small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->control('lastname', [
                                    'class' => 'form-control', 'value' => $registeration['user']['last_name'], 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?>
                            <?php
                                echo $this->Form->control('header', [
                                    'class' => 'form-control', 'value' => 0,'type' => 'hidden', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="telephone1" style="display:block">
                                    <h4 style="float:left;">Téléphone 1 <small class="text-danger">*</small></h4>
                                    <?php
                                    //if($registeration['status'] == 1){
                                    ?>
                                    <label title="Vous pouvez préciser quelles sont vos données que vous nous permettez de publier." data-toggle="tooltip" data-placement="bottom" style="margin: 10px 0;float: right;" >Publique
                                        <input type="checkbox" name="tel1public"  <?php
                                        if ($registeration['tel1public'] == 1) {
                                            echo 'checked';
                                        }
                                               ?> />
                                        <span style="color: #4285F4">&#63;</span>
                                    </label>
                                    <?php //} ?>
                                </label>
                                <?php
                                echo $this->Form->control('tel1', [
                                    'class' => 'form-control','placeholder'=>'+1234567895' ,'style' => 'height:40px;', 'label' => false, 'id' => 'tel1', 'div' => false, 'required' => 'required']);
                                ?>

                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="telephone2" style="display:block">
                                    <h4 style="float:left;">Téléphone 2</h4>
                                    <?php
                                    //if($registeration['status'] == 1){
                                    ?>
                                    <label title="Vous pouvez préciser quelles sont vos données que vous nous permettez de publier." data-toggle="tooltip" data-placement="bottom" style="margin: 10px 0;float: right" >Publique
                                        <input type="checkbox" name="tel2public"  <?php
                                        if ($registeration['tel2public'] == 1) {
                                            echo 'checked';
                                        }
                                               ?> />
                                        <span style="color: #4285F4">&#63;</span>
                                    </label>
                                    <?php //} ?>
                                </label>
                                <?php
                                echo $this->Form->control('tel2', [
                                    'placeholder'=>'+1234567895','class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                                ?>
                            </div> 
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="email" style="display:block">
                                    <h4 style="float:left;">Votre identifiant (adresse mail valide) <small class="text-danger">*</small></h4>
                                    <?php
                                    //if($registeration['status'] == 1){
                                    ?>
                                    <label title="Vous pouvez préciser quelles sont vos données que vous nous permettez de publier." data-toggle="tooltip" data-placement="bottom" style="margin: 10px 0;float: right;" >Publique
                                        <input type="checkbox" name="emailpublic"  <?php
                                        if ($registeration['emailpublic'] == 1) {
                                            echo 'checked';
                                        }
                                               ?> />
                                        <span style="color: #4285F4">&#63;</span>
                                    </label>
                                    <?php //} ?>
                                </label>
                                <?php
                                echo $this->Form->control('email', [
                                    'class' => 'form-control', 'value' => $registeration['user']['email'], 'style' => 'height:40px;', 'label' => false, 'div' => false, 'readonly']);
                                ?>
                            </div>

                        </div>
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="site_web"><h4>URL du site</h4></label>
                                <?php
                                echo $this->Form->control('site_web', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                                ?>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h4 class="formHeading" style="font-weight:bold">Détails de l'adresse</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="address1"><h4>Adresse 1 <small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->control('address1', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="address2"><h4>Adresse 2</h4></label>
                                <?php
                                echo $this->Form->control('address2', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                                ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label for="postalcode"><h4>Code Postal <small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->control('postalcode', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?> </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-4">
                                <label for="city"><h4>Ville <small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->control('city', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?>

                            </div>
                        </div>
                        <div class="form-group">

<div class="col-md-4">
<label for="country"><h4>
Pays <small class="text-danger">*</small></h4></label>
<?php
echo $this->Form->control('pay',[
 'class'=>'form-control','style'=>'height:40px;','label'=>false,'div'=>false,'required' => 'required']);
?>
</div>
</div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h4 class="formHeading" style="font-weight:bold">Profession</h4>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="Profession"><h4>Profession <small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->control('profession', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required', 'id'=>'Profession']);
                                ?></div>
                        </div>
                        
                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="enterprise"><h4>Entreprise</h4></label>
                                <?php
                                echo $this->Form->control('enterprise', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                                ?>
                            </div>
                        </div>
                       
                        <!--
<div class="form-group" >

<div class="col-xs-12" style="margin-top:10px;">
Voulez-vous publier votre profil?
<input type="checkbox" name="publicprofile"  <?php
//                                   if ($registeration['publicprofile'] == 1) {
//                                       echo 'checked';
//                                   }
?> />

</div>
</div>
-->

                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-lg btn-success btn-block" type="submit" id='register' style="border-radius: 0;border-color: #147172;background:#147172;  margin-top:43px;height:50px;"> Enregistrer</button>

                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                        </form>

                    

                </div><!--/tab-pane-->
     
            </div><!--/tab-pane-->
            <div class="tab-pane <?php if($tabId==1){echo 'active';}?>" id="messages">
            

<h2></h2>

<hr>
<form class="form" action="##" method="post" id="registrationForm">
<div class="form-group">

<div class="col-xs-12">
    <label for="mediator"><h4>Êtes-vous un médiateur<small class="text-danger">*</small></h4></label>
    <?php
    $args = array('1'=>'Oui', '0'=>'Non');
    echo $this->Form->control('first_name', [
        'class' => 'form-control', 'options'=>$args,'default'=>'', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
    ?></div>
    
</div>
    
                 <div class="form-group">

                            <div class="col-xs-12">
                                <label for="médiation"><h4>Types de médiation<small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                Autre
                                <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                 Commerciale   
                                     <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                    Construction
                                        <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                    Culturelle<?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                    Familiale
                            </div>
                        </div>
    <div class="form-group">

                            <div class="col-xs-12">
                                <label for="médiation"><h4>Langues<small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                Familiale
                                <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                    Familiale
                                        <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                   Familiale<?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?> Familiale<?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                Familiale
                            </div>
                        </div>
    <div class="form-group">
    <div class="col-xs-12">
                    <label for="médiation"><h4>Assermentation<small class="text-danger">*</small></h4></label>
                                                <?php
                    $args = array('1'=>'Oui', '0'=>'Non');
                    echo $this->Form->control('first_name', [
                        'class' => 'form-control', 'options'=>$args,'default'=>'', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                    ?>
                                
                            </div>
    </div>
    <div class="form-group">
    <div class="col-xs-12">
                    <label for="médiation"><h4>Lieu d'Assermentation<small class="text-danger">*</small></h4></label>
                                                <?php
                   
                    echo $this->Form->control('first_name', [
                        'class' => 'form-control','default'=>'', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                    ?>
                                
                            </div>
    </div>
      <div class="form-group">
    <div class="col-xs-12">
                    <label for="médiation"><h4>Date d'Assermentation (jj.mm.aaaa - 28.02.1999)<small class="text-danger">*</small></h4></label>
                                                <?php
                    $args = array('1'=>'Oui', '0'=>'Non');
                    echo $this->Form->control('first_name', [
                        'class' => 'form-control','default'=>'', 'style' => 'height:40px;', 'label' => false,'type' => 'text', 'div' => false]);
                    ?>
                                
                            </div>
    </div>
    <div class="form-group">

                            <div class="col-xs-12">
                                <label for="médiation"><h4>Texte de présentation<small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->control('médiation', [
                                     'label' => false,'type' => 'textarea', 'div' => false]);
                                ?>
                                
                            </div>
                        </div>
     <form name="add_radius" method="post" action="<?php echo $this->request->webroot ?>EmployeeMembers/addcities" id="add_radius">
    <div class="form-group">
    <div class="col-xs-12">
                    <label for="médiation"><h4>Formation<small class="text-danger">*</small></h4></label>
                                                <?php
                   
                    echo $this->Form->control('first_name', [
                        'class' => 'form-control','default'=>'', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                    ?>
                                
                            </div>
    </div>
      <div class="form-group">
    <div class="col-xs-12">
                    <label for="médiation"><h4>Date de certification (jj.mm.aaaa - 28.02.1999)<small class="text-danger">*</small></h4></label>
                                                <?php
                    $args = array('1'=>'Oui', '0'=>'Non');
                    echo $this->Form->control('first_name', [
                        'class' => 'form-control','default'=>'', 'style' => 'height:40px;', 'label' => false,'type' => 'text', 'div' => false]);
                    ?>
                                
       </div>
    </div>
    
    <div class="form-group">
    <div class="col-xs-12">
                    <label for="image" class="col-md-3 control-label">Image <br /><small class="text-danger">[Best size: 1340px * 620px]</small></label>
            <span class="btn btn-default btn-file">
                    Browse <input type="file" name="image" class="section-image" id="sectionImage" onchange="readURL(this)">
                </span>
                <br /><img id="show_section_uploaded_image"  src="#"  class="section-up-image" alt=""/>
       
                                
                            </div>
    </div>
               <table class="" id="dynamic_field2" style="background: #F5F5F5;">
                                    <tr>
                                        <td style="background-color:white;">
                                            <input type="text" name="name[]"   placeholder="city"  class="custom_field"  required  style="height:40px;" data-original-title="This Field is required" title="">
                                            </td>
                                    </tr>
                                </table>
                            </form>
                   
     </form> 
<button type="button" class="btn btn-default btn-sm"  name="add" id="addmore">Add More</button>
    
   
    
    <div class="form-group">

                            <div class="col-xs-12">
                                <label for="médiation"><h4>Accréditation<small class="text-danger">*</small></h4></label>
                                <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                Autre
                                <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                 Commerciale   
                                     <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                    Construction
                                        <?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                    Culturelle<?php
                                echo $this->Form->checkbox('médiation', [
                                     'label' => false, 'div' => false]);
                                ?>
                                    Familiale
                            </div>
                        </div>
                        
                          
    
<div class="form-group">
<div class="col-xs-12">
                                <button class="btn btn-lg btn-success btn-block" type="submit" id='register' style="border-radius: 0;border-color: #147172;background:#147172;  margin-top:43px;height:50px;"> Enregistrer</button>

                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
    
       
</div>
</form>
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

</div>
<script>
    $(document).ready(function () {
         $('#addmore').click(function () {
            var j = $('#add_radius input[name="name[]"]').length;
            $('#dynamic_field2').append('<tr id="rowRadius' + j + '"><td style="width:250px;background-color: white !important;"><input type="text" name="name[]"   placeholder="city"  class="custom_field"  required  style="height: 35px; width:200px;" data-original-title="This Field is required" title=""><span id="' + j + '" onclick="btn_remove1(' + j + ')" class="fa fa-trash-o"></span></td></tr>');
        
        
        });
        $('.btn_remove1').on('click', function () {
            var button_id = $(this).attr("id");
            $('#row' + button_id + '').remove();
        });
        
        setTimeout(function () {
            $('input[name=pwd]').val('');

        }, 100);

        $('input[name=pwd]').blur(function () {
            if ($(this).val()) {
                if ($(this).val().length < 6) {
                    if ($(this).siblings('small').length > 0) {
                        $(this).siblings('small').text('At least 6 characters');
                    } else {
                        $('<small style="color:red">At least 6 characters</small>').insertAfter($(this));
                    }
                    $('input[name=repassword]').prop('disabled', true);
                    return false;
                } else {
                    $('input[name=repassword]').prop('disabled', false);
                    $(this).siblings('small').text('');
                }
                $('input[name=repassword]').val('');
            }
        });
        $('input[name=repassword]').blur(function () {
            if ($(this).val()) {
                if ($('input[name="pwd"]').val() != $(this).val()) {
                    if ($(this).siblings('small').length > 0) {
                        $(this).siblings('small').text('Confirm Password does not match');
                    } else {
                        $('<small style="color:red">Confirm Password does not match</small>').insertAfter($(this));
                    }
                    return false;

                } else {
                    $(this).siblings('small').text('');
                }
            }
        });
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    //                        console.log(e.target);
                    //                        $('.avatar').attr('style', 'background-image:url("' + e.target.result + '")');
                    $('.avatar').css("background-image", "url('" + e.target.result + "')");
                    ;
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });

    $("#UserAddForm").submit(function () {
        if ($('input[name="pwd"]').val()) {
            if ($('input[name="pwd"]').val().length < 6) {
                if ($('input[name="pwd"]').siblings('small').length > 0) {
                    $('input[name="pwd"]').siblings('small').text('At least 6 characters');
                } else {
                    $('<small style="color:red">At least 6 characters</small>').insertAfter($('input[name="pwd"]'));
                }
                return false;
            } else {
                if ($('input[name="repassword"]').val()) {
                    if ($('input[name="pwd"]').val() != $('input[name="repassword"]').val()) {
                        if ($('input[name="repassword"]').siblings('small').length > 0) {
                            $('input[name="repassword"]').siblings('small').text('Confirm Password does not match');
                        } else {
                            $('<small style="color:red">Confirm Password does not match</small>').insertAfter($('input[name="repassword"]'));
                        }
                        return false;

                    } else {
                        $('input[name="pwd"]').siblings('small').text('');
                    }
                    $('input[name="pwd"]').siblings('small').text('');
                } else {
                    if ($('input[name="repassword"]').siblings('small').length > 0) {
                        $('input[name="repassword"]').siblings('small').text('Please enter confirm password');
                    } else {
                        $('<small style="color:red">Please enter confirm password</small>').insertAfter($('input[name="repassword"]'));
                    }
                    return false;
                }
            }
        }


        var phone_pat = /^\(?(\+\d{3})\)?[-\. ]?(\d{3})[-\. ]?(\d{2})[-\. ]?(\d{2})$/;
        var phone = $("#tel1").val();
        //alert(phone);

        if ($('input[name=tel1]').val()) {
            //code for further validation
            if (!phone_pat.test(phone)) {

                $('input[name=tel1]').focus();
                $('label[for=tel1] i').addClass('fa-frown-o field_error').removeClass('fa-smile-o field_ok');
                alert("S'il vous plaît entrer le format de téléphone valide");
                return false;

                alert("S'il vous plaît entrer le format de téléphone valide");



            } else {

                $('label[for=tel1] i').addClass('fa-smile-o field_ok').removeClass('fa-frown-o field_error');
            }

        } else {
            $('input[name=tel1]').focus();
            $('label[for=tel1] i').addClass('fa-frown-o field_error').removeClass('fa-smile-o field_ok');
            alert("S'il vous plaît entrer le format de téléphone valide");
            return false;

            alert("S'il vous plaît entrer le format de téléphone valide");



        }

        if ($('input[name=first_name]').val()) {
            if ($('input[name=first_name]').val().match('^[a-zA-Z]{3,16}$')) {

                $('label[for=first_name] i').addClass('fa-smile-o field_ok').removeClass('fa-frown-o field_error');

            } else {
                $('input[name=first_name]').focus();
                $('label[for=first_name] i').addClass('fa-frown-o field_error').removeClass('fa-smile-o field_ok');
                return false;
            }
        } else {
            $('input[name=firstname]').focus();
            return false;
        }

        if ($('input[name=lastname]').val()) {
            if ($('input[name=lastname]').val().match('^[a-zA-Z]{3,16}$')) {

                $('label[for=lastname] i').addClass('fa-smile-o field_ok').removeClass('fa-frown-o field_error');

            } else {
                $('input[name=lastname]').focus();
                $('label[for=lastname] i').addClass('fa-frown-o field_error').removeClass('fa-smile-o field_ok');
                return false;
            }
        } else {
            $('input[name=lastname]').focus();
            return false;
        }


        if ($('input[name=postalcode]').length) {
            if ($('input[name=postalcode]').val()) {
                //             alert($('input[name=zipcode]').val().length);
                if ($('input[name=postalcode]').val().length > 5) {
                    $('input[name=postalcode]').focus();
                    alert("S'il vous plaît entrer le code postal valide");
                    return false;

                    alert("S'il vous plaît entrer le code postal valide");



                } else {
                    return true;
                }
            } else {
                $('input[name=postalcode]').focus();
                alert("S'il vous plaît entrer le code postal valide");
                return false;

                alert("S'il vous plaît entrer le code postal valide");



            }
        }
    });
</script>