<?php
/**
 * @var \App\View\AppView $this
 */
?>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    div.avatar{
        height: 200px;
        width: 200px;
        background-position: center;
        background-size: cover;
        border-radius:50%;
    }
</style>

<hr>
<div class="container bootstrap snippet">
    <?= $this->Form->create($registeration, array('type' => 'file', 'id' => 'UserAddForm')) ?>
    <?php //debug($registeration['user']['email']);exit;?>
    <div class="row">
        <div class="col-sm-10"><h1><?php
                echo $registeration['user']['first_name'];
                echo ' ';
                echo $registeration['user']['last_name'];
                ?></h1></div>

    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <?php
                if (empty($registeration->image)) {
                    $path = 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png';
                } else {
                    $path = $this->request->webroot . 'img/slider/thumbnail/' . $registeration->image;
                }
                ?>
                <div class="avatar" style="background-image: url(<?php echo $path; ?>);">
                    <!--<img src="<?php echo $path; ?>" id="show_section_uploaded_image" class="avatar img-circle img-thumbnail" alt="avatar">-->
                </div> 
                <h6>Télécharger une photo différente...</h6>
                <input type="file"  name='image' class="text-center center-block file-upload"  id="sectionImage" onchange="readURL(this)">
            </div></hr>
            <div class="col-xs-12">
                <label for="Profession"><h4>Mot de passe</h4></label>
                <?php
                echo $this->Form->control('pwd', [
                    'class' => 'form-control', 'style' => 'height:30px;', 'label' => false, 'div' => false]);
                ?></div>



            <!--          <div class="panel panel-default">
                        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                        <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                      </div>
                      
                      
                      <ul class="list-group">
                        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
                      </ul> 
                           
                      <div class="panel panel-default">
                        <div class="panel-heading">Social Media</div>
                        <div class="panel-body">
                            <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                        </div>
                      </div>-->

        </div><!--/col-3-->
        <div class="col-sm-9">
            <!--            <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                            <li><a data-toggle="tab" href="#messages">Menu 1</a></li>
                            <li><a data-toggle="tab" href="#settings">Menu 2</a></li>
                          </ul>-->


            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <!--                <hr>-->

                    <!--                  <form class="form" action="##" method="post" id="registrationForm">-->
                    <div class="form-group">

                        <!--                          <div class="col-xs-6">
                                                      <label for="membertype_id"><h4>Type d'adhésion</h4></label>
                        <?php // echo $this->Form->control('membertype_id', ['class'=>'form-control','options' => $membertypes ,'style'=>'height:40px;','label'=>false,'div'=>false,'required' => 'required']); ?>
                                                      </div>
                                              </div>-->
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="Profession"><h4>Profession</h4></label>
                                <?php
                                echo $this->Form->control('profession', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?></div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="firstname"><h4>Prénom</h4></label>
                                <?php
                                echo $this->Form->control('first_name', [
                                    'class' => 'form-control', 'value' => $registeration['user']['first_name'], 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?></div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="lastname"><h4>Nom de famille</h4></label>
                                <?php
                                echo $this->Form->control('lastname', [
                                    'class' => 'form-control', 'value' => $registeration['user']['last_name'], 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?></div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="address1"><h4>Adresse 1</h4></label>
                                <?php
                                echo $this->Form->control('address1', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="address2"><h4>Adresse 2</h4></label>
                                <?php
                                echo $this->Form->control('address2', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                                ?>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="postalcode"><h4>Code Postal </h4></label>
                                <?php
                                echo $this->Form->control('postalcode', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?> </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="city"><h4>Ville</h4></label>
                                <?php
                                echo $this->Form->control('city', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?>

                            </div>
                        </div>
                        <!--                      <div class="form-group">
                                                  
                                                  <div class="col-xs-6">
                                                      <label for="city"><h4>
                                                                   Payer</h4></label>
                        <?php
                        //echo $this->Form->control('pay',[
                        // 'class'=>'form-control','style'=>'height:40px;','label'=>false,'div'=>false,'required' => 'required']);
                        ?>
                                                        </div>
                                              </div>-->
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="enterprise"><h4>Entreprise</h4></label>
                                <?php
                                echo $this->Form->control('enterprise', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false, 'required' => 'required']);
                                ?>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-5">
                                <label for="telephone1"><h4>Téléphone 1</h4></label>
                                <?php
                                echo $this->Form->control('tel1', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'id' => 'tel1', 'div' => false, 'required' => 'required']);
                                ?>

                            </div>
                            <div class="col-xs-1">
                                <label style="margin-top: 20px;" >Publique
                                    <input type="checkbox" name="tel1public"  <?php
                                    if ($registeration['tel1public'] == 1) {
                                        echo 'checked';
                                    }
                                    ?> />
                                </label>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-5">
                                <label for="telephone2"><h4>Téléphone 2</h4></label>
                                <?php
                                echo $this->Form->control('tel2', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                                ?>
                            </div> <div class="col-xs-1">
                                <label style="margin-top: 20px;" >Publique
                                    <input type="checkbox" name="tel2public"  <?php
                                    if ($registeration['tel2public'] == 1) {
                                        echo 'checked';
                                    }
                                    ?> />
                                </label>
                            </div>

                        </div>
                        <div class="form-group">

                            <div class="col-xs-5">
                                <label for="email"><h4>Email</h4></label>
                                <?php
                                echo $this->Form->control('email', [
                                    'class' => 'form-control', 'value' => $registeration['user']['email'], 'style' => 'height:40px;', 'label' => false, 'div' => false, 'readonly']);
                                ?>
                            </div>
                            <div class="col-xs-1">
                                <label style="margin-top: 20px;" >Publique
                                    <input type="checkbox" name="emailpublic"  <?php
                                    if ($registeration['emailpublic'] == 1) {
                                        echo 'checked';
                                    }
                                    ?> />
                                </label>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="site_web"><h4>URL du site</h4></label>
                                <?php
                                echo $this->Form->control('site_web', [
                                    'class' => 'form-control', 'style' => 'height:40px;', 'label' => false, 'div' => false]);
                                ?>

                            </div>
                        </div>
                        <div class="form-group" >

                            <div class="col-xs-12" style="margin-top:10px;">
                                Voulez-vous publier votre profil?
                                <input type="checkbox" name="publicprofile"  <?php
                                if ($registeration['publicprofile'] == 1) {
                                    echo 'checked';
                                }
                                ?> />

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>

                                <button class="btn btn-lg btn-success" type="submit" id='register'>Enregistrer</button>
                            </div>
                        </div>
                        </form>

                        <hr>

                    </div><!--/tab-pane-->
                    <!--             <div class="tab-pane" id="messages">
                                   
                                   <h2></h2>
                                   
                                   <hr>
                                      <form class="form" action="##" method="post" id="registrationForm">
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="first_name"><h4>First name</h4></label>
                                                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                <label for="last_name"><h4>Last name</h4></label>
                                                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                              </div>
                                          </div>
                              
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="phone"><h4>Phone</h4></label>
                                                  <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                              </div>
                                          </div>
                              
                                          <div class="form-group">
                                              <div class="col-xs-6">
                                                 <label for="mobile"><h4>Mobile</h4></label>
                                                  <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="email"><h4>Email</h4></label>
                                                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="email"><h4>Location</h4></label>
                                                  <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="password"><h4>Password</h4></label>
                                                  <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                <label for="password2"><h4>Verify</h4></label>
                                                  <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                               <div class="col-xs-12">
                                                    <br>
                                                    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                                </div>
                                          </div>
                                    </form>
                                   
                                 </div>/tab-pane
                                 <div class="tab-pane" id="settings">
                                            
                                    
                                      <hr>
                                      <form class="form" action="##" method="post" id="registrationForm">
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  
                                                  <label for="first_name"><h4>First name</h4></label>
                                                  
                                                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                <label for="last_name"><h4>Last name</h4></label>
                                                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                              </div>
                                          </div>
                              
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="phone"><h4>Phone</h4></label>
                                                  <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                              </div>
                                          </div>
                              
                                          <div class="form-group">
                                              <div class="col-xs-6">
                                                 <label for="mobile"><h4>Mobile</h4></label>
                                                  <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="email"><h4>Email</h4></label>
                                                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="email"><h4>Location</h4></label>
                                                  <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                  <label for="password"><h4>Password</h4></label>
                                                  <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              
                                              <div class="col-xs-6">
                                                <label for="password2"><h4>Verify</h4></label>
                                                  <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                               <div class="col-xs-12">
                                                    <br>
                                                    
                                                    <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                                </div>
                                          </div>
                                    </form>
                                  </div>
                    -->
                </div><!--/tab-pane-->
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->


    <script>
        $(document).ready(function () {


            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
//                        console.log(e.target);
//                        $('.avatar').attr('style', 'background-image:url("' + e.target.result + '")');
                        $('.avatar').css("background-image", "url('" + e.target.result + "')");
                        ;
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }


            $(".file-upload").on('change', function () {
                readURL(this);
            });
        });
    </script>
    <script>



        $("#UserAddForm").submit(function () {
            var phone_pat = /^\(?(\d{3})\)?[-\. ]?(\d{3})[-\. ]?(\d{2})[-\. ]?(\d{2})$/;
            var phone = $("#tel1").val();
            //alert(phone);

            if ($('input[name=tel1]').val()) {
                //code for further validation
                if (!phone_pat.test(phone)) {

                    $('input[name=tel1]').focus();
                    $('label[for=tel1] i').addClass('fa-frown-o field_error').removeClass('fa-smile-o field_ok');
                    return false;
                } else {

                    $('label[for=tel1] i').addClass('fa-smile-o field_ok').removeClass('fa-frown-o field_error');
                }

            } else {
                $('input[name=tel1]').focus();
                $('label[for=tel1] i').addClass('fa-frown-o field_error').removeClass('fa-smile-o field_ok');
                return false;
            }

            if ($('input[name=first_name]').val()) {
                if ($('input[name=first_name]').val().match('^[a-zA-Z]{3,16}$')) {

                    $('label[for=first_name] i').addClass('fa-smile-o field_ok').removeClass('fa-frown-o field_error');

                } else {
                    $('input[name=first_name]').focus();
                    $('label[for=first_name] i').addClass('fa-frown-o field_error').removeClass('fa-smile-o field_ok');
                    return false;
                }
            } else {
                $('input[name=firstname]').focus();
                return false;
            }

            if ($('input[name=lastname]').val()) {
                if ($('input[name=lastname]').val().match('^[a-zA-Z]{3,16}$')) {

                    $('label[for=lastname] i').addClass('fa-smile-o field_ok').removeClass('fa-frown-o field_error');

                } else {
                    $('input[name=lastname]').focus();
                    $('label[for=lastname] i').addClass('fa-frown-o field_error').removeClass('fa-smile-o field_ok');
                    return false;
                }
            } else {
                $('input[name=lastname]').focus();
                return false;
            }


            if ($('input[name=postalcode]').length) {
                if ($('input[name=postalcode]').val()) {
                    //             alert($('input[name=zipcode]').val().length);
                    if ($('input[name=postalcode]').val().length > 5) {
                        $('input[name=postalcode]').focus();
                        return false;
                    } else {
                        return true;
                    }
                } else {
                    $('input[name=postalcode]').focus();
                    return false;
                }
            }
        });





    </script>