<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $accreditation->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $accreditation->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Accreditations'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Ombudsmanaccreds'), ['controller' => 'Ombudsmanaccreds', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Ombudsmanaccred'), ['controller' => 'Ombudsmanaccreds', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="accreditations form large-9 medium-8 columns content">
    <?= $this->Form->create($accreditation) ?>
    <fieldset>
        <legend><?= __('Edit Accreditation') ?></legend>
        <?php
            echo $this->Form->control('name');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
