<?php
/**
  * @var \App\View\AppView $this
  * @var \App\Model\Entity\Accreditation[]|\Cake\Collection\CollectionInterface $accreditations
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Accreditation'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Ombudsmanaccreds'), ['controller' => 'Ombudsmanaccreds', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Ombudsmanaccred'), ['controller' => 'Ombudsmanaccreds', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="accreditations index large-9 medium-8 columns content">
    <h3><?= __('Accreditations') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('name') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($accreditations as $accreditation): ?>
            <tr>
                <td><?= $this->Number->format($accreditation->id) ?></td>
                <td><?= h($accreditation->name) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $accreditation->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $accreditation->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $accreditation->id], ['confirm' => __('Are you sure you want to delete # {0}?', $accreditation->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} de {{pages}}, affiche {{current}} entrée(s) sur un de total {{count}}')]) ?></p>
    </div>
</div>
