<div style="width: 100%;text-align:center;background-color: #18202E;">
    <img src="<?= 'http://' . $_SERVER['SERVER_NAME'] . $this->request->webroot . 'front/img/logo-light.png' ?>" width="120">
</div>
<br/>
Dear <?php echo ucwords($content->first_name . ' ' . $content->last_name) ?>,<br/><br/>
<p>You have received a an email against  token number <b><?php echo $messages->ticket_number; ?></b></p>
<b>Link:</b> 
<?php if ($content->role_id == 10) { ?>
    <a href="<?= 'http://' . $_SERVER['SERVER_NAME'] . $this->request->webroot . 'Tickets' ?>">Click for link</a><br/><br/>
<?php } else { ?>
    <a href="<?= 'http://' . $_SERVER['SERVER_NAME'] . $this->request->webroot . 'Tickets/viewTicket/' . $messages->id; ?>">Click for link</a><br/><br/>
<?php } ?>
<b>Subject:</b> <?php echo $messages->subject; ?><br/><br/>
<p>Please write above this</p>
#####<?php echo $messages->ticket_number; ?>#####
<p>
    <?php echo $messages->message; ?>
</p>
<?php foreach ($messages->ticket_conversations as $conversation): ?>
    <p>
        <?php echo $conversation->message; ?>
    </p>
<?php endforeach; ?>
