<div class="container" style="background: #fff;">
    <div class="panel-head-info">
        <p class="info-text"><?php echo $documentguide->title; ?></p>
        <div class="clearfix"></div>
    </div>
    <?php echo  $documentguide->description; ?>
</div>