<?php
/**
  * @var \App\View\AppView $this
  * @var \App\Model\Entity\Documentguide[]|\Cake\Collection\CollectionInterface $documentguides
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Documentguide'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="documentguides index large-9 medium-8 columns content">
    <h3><?= __('Documentguides') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('title') ?></th>
                <th scope="col"><?= $this->Paginator->sort('file') ?></th>
                <th scope="col"><?= $this->Paginator->sort('type') ?></th>
                <th scope="col"><?= $this->Paginator->sort('user_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('ordinal') ?></th>
                <th scope="col"><?= $this->Paginator->sort('status') ?></th>
                <th scope="col"><?= $this->Paginator->sort('modified') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($documentguides as $documentguide): ?>
            <tr>
                <td><?= $this->Number->format($documentguide->id) ?></td>
                <td><?= h($documentguide->title) ?></td>
                <td><?= h($documentguide->file) ?></td>
                <td><?= $this->Number->format($documentguide->type) ?></td>
                <td><?= $documentguide->has('user') ? $this->Html->link($documentguide->user->id, ['controller' => 'Users', 'action' => 'view', $documentguide->user->id]) : '' ?></td>
                <td><?= $this->Number->format($documentguide->ordinal) ?></td>
                <td><?= $this->Number->format($documentguide->status) ?></td>
                <td><?= h($documentguide->modified) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $documentguide->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $documentguide->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $documentguide->id], ['confirm' => __('Are you sure you want to delete # {0}?', $documentguide->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} de {{pages}}, affiche {{current}} entrée(s) sur un de total {{count}}')]) ?></p>
    </div>
</div>
