<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $ticketCalendar->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $ticketCalendar->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Ticket Calendars'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="ticketCalendars form large-9 medium-8 columns content">
    <?= $this->Form->create($ticketCalendar) ?>
    <fieldset>
        <legend><?= __('Edit Ticket Calendar') ?></legend>
        <?php
            echo $this->Form->control('user_id', ['options' => $users, 'empty' => true]);
            echo $this->Form->control('type');
            echo $this->Form->control('date', ['empty' => true]);
            echo $this->Form->control('assigned_by');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
